In [30]:
import pandas as pd
import numpy as np
from datetime import datetime

In [31]:
date_rng = pd.date_range(start="1/1/2018",end="1/08/2018",freq='H')

In [32]:
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [33]:
df = pd.DataFrame(date_rng)

In [34]:
df.columns = ['date']

In [35]:
df['data'] = np.random.randint(0,100,size=(len(date_rng)))

In [36]:
#For date-time manipulation, we need to convert data frame data input DateTime data.
df['datetime'] = pd.to_datetime(df['date'])

In [37]:
df = df.set_index('datetime')

In [38]:
df.drop(['date'],axis=1,inplace=True)

In [40]:
string_date_rng = [str(x) for x in date_rng]

In [44]:
timestamp_date_rng = pd.to_datetime(string_date_rng,infer_datetime_format=True)

In [45]:
timestamp_date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq=None)

In [46]:
string_date_rng_2 = ['June-01-2018','June-02-2018','June-03-2018']

In [48]:
timestamp_date_rng_2 = [datetime.strptime(x,'%B-%d-%Y') for x in string_date_rng_2]

In [49]:
timestamp_date_rng_2

[datetime.datetime(2018, 6, 1, 0, 0),
 datetime.datetime(2018, 6, 2, 0, 0),
 datetime.datetime(2018, 6, 3, 0, 0)]

In [50]:
df2 = pd.DataFrame(timestamp_date_rng_2)

In [52]:
df2.columns = ['date']

In [53]:
df2

        date
0 2018-06-01
1 2018-06-02
2 2018-06-03

In [62]:
df[df.index.day == 2]

                     data
datetime
2018-01-02 00:00:00    53
2018-01-02 01:00:00    84
2018-01-02 02:00:00    91
2018-01-02 03:00:00    22
2018-01-02 04:00:00    30
2018-01-02 05:00:00    37
2018-01-02 06:00:00    70
2018-01-02 07:00:00    53
2018-01-02 08:00:00     6
2018-01-02 09:00:00    95
2018-01-02 10:00:00    57
2018-01-02 11:00:00    32
2018-01-02 12:00:00    53
2018-01-02 13:00:00    40
2018-01-02 14:00:00    41
2018-01-02 15:00:00    37
2018-01-02 16:00:00    32
2018-01-02 17:00:00    63
2018-01-02 18:00:00    24
2018-01-02 19:00:00    13
2018-01-02 20:00:00    79
2018-01-02 21:00:00    95
2018-01-02 22:00:00    51
2018-01-02 23:00:00    91

In [63]:
df['2018-01-03']

                     data
datetime
2018-01-03 00:00:00    10
2018-01-03 01:00:00     8
2018-01-03 02:00:00    92
2018-01-03 03:00:00    87
2018-01-03 04:00:00    55
2018-01-03 05:00:00    76
2018-01-03 06:00:00    26
2018-01-03 07:00:00    79
2018-01-03 08:00:00    57
2018-01-03 09:00:00    63
2018-01-03 10:00:00    22
2018-01-03 11:00:00    14
2018-01-03 12:00:00    25
2018-01-03 13:00:00    74
2018-01-03 14:00:00    65
2018-01-03 15:00:00    53
2018-01-03 16:00:00    16
2018-01-03 17:00:00    90
2018-01-03 18:00:00    34
2018-01-03 19:00:00    75
2018-01-03 20:00:00    31
2018-01-03 21:00:00    42
2018-01-03 22:00:00    10
2018-01-03 23:00:00    73

In [64]:
df['2018-01-04':'2018-01-06']

                     data
datetime
2018-01-04 00:00:00    85
2018-01-04 01:00:00    37
2018-01-04 02:00:00    42
2018-01-04 03:00:00    78
2018-01-04 04:00:00    27
...                   ...
2018-01-06 19:00:00    81
2018-01-06 20:00:00    96
2018-01-06 21:00:00    40
2018-01-06 22:00:00    77
2018-01-06 23:00:00    18

[72 rows x 1 columns]

In [69]:
df.resample('D').sum()

            data
datetime
2018-01-01  1179
2018-01-02  1249
2018-01-03  1177
2018-01-04   992
2018-01-05  1049
2018-01-06  1392
2018-01-07  1085
2018-01-08    79