In [1]:
import pandas as pd
import numpy as np

In [2]:
date = ['01.02.2019']
pd.to_datetime(date)

DatetimeIndex(['2019-01-02'], dtype='datetime64[ns]', freq=None)

In [4]:
date = ['01.02.2019 1:30:00 PM']
pd.to_datetime(date)

DatetimeIndex(['2019-01-02 13:30:00'], dtype='datetime64[ns]', freq=None)

In [5]:
print(pd.to_datetime('8-2-2019'))
print(pd.to_datetime('8-2-2019',dayfirst = True))
print(pd.to_datetime('10-2-8',yearfirst=True))

2019-08-02 00:00:00
2019-02-08 00:00:00
2010-02-08 00:00:00

In [6]:
date = '2019-01-01T15:00:00+0100'
pd.to_datetime(date,utc=True)

Timestamp('2019-01-01 14:00:00+0000', tz='UTC')

In [7]:
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5]})

In [9]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [10]:
 s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'] * 1000)

In [11]:
s.head()

0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

In [13]:
%timeit pd.to_datetime(s,infer_datetime_format=True)

3.19 ms ± 27.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
%timeit pd.to_datetime(s,infer_datetime_format = False)

3.2 ms ± 16.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [15]:
pd.to_datetime([1,2,3],unit='D',origin = pd.Timestamp('1960-01-01'))

DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [16]:
pd.date_range(start='2/2/2019',end='2/08/2019')

DatetimeIndex(['2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range(start='2/2/2019',periods=8)

DatetimeIndex(['2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09'],
              dtype='datetime64[ns]', freq='D')

In [18]:
pd.date_range(start='2019-06-20',end = '2019-04-25',periods=4)

DatetimeIndex(['2019-06-20 00:00:00', '2019-06-01 08:00:00',
               '2019-05-13 16:00:00', '2019-04-25 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [19]:
pd.date_range(start='2/2/2019',periods=6,freq='M')

DatetimeIndex(['2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31',
               '2019-06-30', '2019-07-31'],
              dtype='datetime64[ns]', freq='M')

In [20]:
pd.date_range(start = '2/2/2019',periods=6,freq='3M')

DatetimeIndex(['2019-02-28', '2019-05-31', '2019-08-31', '2019-11-30',
               '2020-02-29', '2020-05-31'],
              dtype='datetime64[ns]', freq='3M')

In [22]:
pd.date_range(start='2/2/2019',periods=6,freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2019-02-28', '2019-05-31', '2019-08-31', '2019-11-30',
               '2020-02-29', '2020-05-31'],
              dtype='datetime64[ns]', freq='3M')

In [23]:
pd.date_range(start='2/2/2019',periods=6,tz='Asia/Tokyo')

DatetimeIndex(['2019-02-02 00:00:00+09:00', '2019-02-03 00:00:00+09:00',
               '2019-02-04 00:00:00+09:00', '2019-02-05 00:00:00+09:00',
               '2019-02-06 00:00:00+09:00', '2019-02-07 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')

In [24]:
pd.date_range(start = '2018-02-02',end='2018-02-05',closed=None)

DatetimeIndex(['2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05'], dtype='datetime64[ns]', freq='D')

In [25]:
pd.date_range(start = '2018-02-02',end='2018-02-05',closed='left')

DatetimeIndex(['2018-02-02', '2018-02-03', '2018-02-04'], dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range(start = '2018-02-02',end='2018-02-05',closed='right')

DatetimeIndex(['2018-02-03', '2018-02-04', '2018-02-05'], dtype='datetime64[ns]', freq='D')

In [27]:
index = pd.date_range('1/1/2019', periods=8, freq='T')
series = pd.Series(range(8), index=index)
series

2019-01-01 00:00:00    0
2019-01-01 00:01:00    1
2019-01-01 00:02:00    2
2019-01-01 00:03:00    3
2019-01-01 00:04:00    4
2019-01-01 00:05:00    5
2019-01-01 00:06:00    6
2019-01-01 00:07:00    7
Freq: T, dtype: int64

In [28]:
series.resample('3T').sum()

2019-01-01 00:00:00     3
2019-01-01 00:03:00    12
2019-01-01 00:06:00    13
Freq: 3T, dtype: int64

In [29]:
series.resample('3T',label='right').sum()

2019-01-01 00:03:00     3
2019-01-01 00:06:00    12
2019-01-01 00:09:00    13
Freq: 3T, dtype: int64

In [30]:
series.resample('3T',label='right',closed='right').sum()

2019-01-01 00:00:00     0
2019-01-01 00:03:00     6
2019-01-01 00:06:00    15
2019-01-01 00:09:00     7
Freq: 3T, dtype: int64

In [32]:
series.resample('30S').asfreq()

2019-01-01 00:00:00    0.0
2019-01-01 00:00:30    NaN
2019-01-01 00:01:00    1.0
2019-01-01 00:01:30    NaN
2019-01-01 00:02:00    2.0
2019-01-01 00:02:30    NaN
2019-01-01 00:03:00    3.0
2019-01-01 00:03:30    NaN
2019-01-01 00:04:00    4.0
2019-01-01 00:04:30    NaN
2019-01-01 00:05:00    5.0
2019-01-01 00:05:30    NaN
2019-01-01 00:06:00    6.0
2019-01-01 00:06:30    NaN
2019-01-01 00:07:00    7.0
Freq: 30S, dtype: float64

In [33]:
series.resample('30S').bfill()

2019-01-01 00:00:00    0
2019-01-01 00:00:30    1
2019-01-01 00:01:00    1
2019-01-01 00:01:30    2
2019-01-01 00:02:00    2
2019-01-01 00:02:30    3
2019-01-01 00:03:00    3
2019-01-01 00:03:30    4
2019-01-01 00:04:00    4
2019-01-01 00:04:30    5
2019-01-01 00:05:00    5
2019-01-01 00:05:30    6
2019-01-01 00:06:00    6
2019-01-01 00:06:30    7
2019-01-01 00:07:00    7
Freq: 30S, dtype: int64

In [34]:
series.resample('30S').ffill()

2019-01-01 00:00:00    0
2019-01-01 00:00:30    0
2019-01-01 00:01:00    1
2019-01-01 00:01:30    1
2019-01-01 00:02:00    2
2019-01-01 00:02:30    2
2019-01-01 00:03:00    3
2019-01-01 00:03:30    3
2019-01-01 00:04:00    4
2019-01-01 00:04:30    4
2019-01-01 00:05:00    5
2019-01-01 00:05:30    5
2019-01-01 00:06:00    6
2019-01-01 00:06:30    6
2019-01-01 00:07:00    7
Freq: 30S, dtype: int64

In [35]:
def custom_resampler(array_like):
    return np.sum(array_like) + 5

In [36]:
series.resample('3T').apply(custom_resampler)

2019-01-01 00:00:00     8
2019-01-01 00:03:00    17
2019-01-01 00:06:00    18
Freq: 3T, dtype: int64

In [37]:
s = pd.Series([1, 2], index=pd.period_range('2018-01-01',
                                            freq='A',
                                            periods=2))
s

2018    1
2019    2
Freq: A-DEC, dtype: int64

In [38]:
s.resample('Q').asfreq()

2018Q1    1.0
2018Q2    NaN
2018Q3    NaN
2018Q4    NaN
2019Q1    2.0
2019Q2    NaN
2019Q3    NaN
2019Q4    NaN
Freq: Q-DEC, dtype: float64

In [39]:
q = pd.Series([2, 3, 4, 5], index=pd.period_range('2019-01-01',
                                                  freq='Q',
                                                  periods=4))
q

2019Q1    2
2019Q2    3
2019Q3    4
2019Q4    5
Freq: Q-DEC, dtype: int64

In [41]:
q.resample('M',convention='end').asfreq()

2019-03    2.0
2019-04    NaN
2019-05    NaN
2019-06    3.0
2019-07    NaN
2019-08    NaN
2019-09    4.0
2019-10    NaN
2019-11    NaN
2019-12    5.0
Freq: M, dtype: float64

In [42]:
d = dict({'price': [8, 9, 7, 11, 12, 16, 15, 17],
          'volume': [40, 50, 30, 80, 40, 80, 30, 40]})
df = pd.DataFrame(d)
df['week_starting'] = pd.date_range('01/01/2019',
                                    periods=8,
                                    freq='W')
df

   price  volume week_starting
0      8      40    2019-01-06
1      9      50    2019-01-13
2      7      30    2019-01-20
3     11      80    2019-01-27
4     12      40    2019-02-03
5     16      80    2019-02-10
6     15      30    2019-02-17
7     17      40    2019-02-24

In [44]:
df.resample('M',on='week_starting').mean()

               price  volume
week_starting
2019-01-31      8.75    50.0
2019-02-28     15.00    47.5

In [45]:
days = pd.date_range('1/1/2019', periods=4, freq='D')
d2 = dict({'price': [8, 9, 7, 11, 12, 16, 15, 17],
           'volume': [40, 50, 30, 80, 40, 80, 30, 40]})
df2 = pd.DataFrame(d2,
                   index=pd.MultiIndex.from_product([days,
                                                    ['morning',
                                                     'afternoon']]
                                                    ))
df2

                      price  volume
2019-01-01 morning        8      40
           afternoon      9      50
2019-01-02 morning        7      30
           afternoon     11      80
2019-01-03 morning       12      40
           afternoon     16      80
2019-01-04 morning       15      30
           afternoon     17      40

In [47]:
df2.resample('D',level=0).sum()

            price  volume
2019-01-01     17      90
2019-01-02     18     110
2019-01-03     28     120
2019-01-04     32      70

In [49]:
df2.resample('D',level=0).mean()

            price  volume
2019-01-01    8.5    45.0
2019-01-02    9.0    55.0
2019-01-03   14.0    60.0
2019-01-04   16.0    35.0

In [50]:
index = pd.date_range('1/1/2019', periods=4, freq='T')
series = pd.Series([0.0, None, 4.0, 5.0], index=index)
df = pd.DataFrame({'s':series})
df

                       s
2019-01-01 00:00:00  0.0
2019-01-01 00:01:00  NaN
2019-01-01 00:02:00  4.0
2019-01-01 00:03:00  5.0

In [52]:
df.asfreq('30S')

                       s
2019-01-01 00:00:00  0.0
2019-01-01 00:00:30  NaN
2019-01-01 00:01:00  NaN
2019-01-01 00:01:30  NaN
2019-01-01 00:02:00  4.0
2019-01-01 00:02:30  NaN
2019-01-01 00:03:00  5.0

In [53]:
df.asfreq(freq='30S',fill_value=0.7)

                       s
2019-01-01 00:00:00  0.0
2019-01-01 00:00:30  0.7
2019-01-01 00:01:00  NaN
2019-01-01 00:01:30  0.7
2019-01-01 00:02:00  4.0
2019-01-01 00:02:30  0.7
2019-01-01 00:03:00  5.0

In [54]:
df.asfreq(freq='30S',method='bfill')

                       s
2019-01-01 00:00:00  0.0
2019-01-01 00:00:30  NaN
2019-01-01 00:01:00  NaN
2019-01-01 00:01:30  4.0
2019-01-01 00:02:00  4.0
2019-01-01 00:02:30  5.0
2019-01-01 00:03:00  5.0